global
    daemon
    maxconn 10000
    no strict-limits
defaults
    mode http
    timeout connect 5s
    timeout client 60s
    timeout server 60s

frontend http-in
    bind *:8080
    acl is_api_request path_beg /api
    use_backend api-nodes if is_api_request
    default_backend web-nodes

backend web-nodes 
    balance roundrobin
    server node1-web node1-web:80 check

backend api-nodes
    balance roundrobin
    option httpchk
    http-check send meth GET  uri /health
    http-check expect status 200
    server node1-api node1-api:80 check
    server node2-api node2-api:80 check
    server node3-api node3-api:80 check

listen stats
    bind *:8404
    stats enable
    stats uri /
    stats refresh 10s
